    <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop App</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque vero iusto adipisci
                    dolorum sint consectetur veniam expedita consequatur repellat beatae id, voluptatum enim accusantium
                    itaque officia molestias sed repellendus harum.</p>
            </div>
        </div>
    </header>